[submodule "TestData"]
	path = TestData
	url = ../VeloView-TestData.git
[submodule "Superbuild/common-superbuild"]
	path = Superbuild/common-superbuild
	url = https://gitlab.kitware.com/paraview/common-superbuild
