<ServerManagerConfiguration>
  <ProxyGroup name="filters">
    <SourceProxy name="TemporalTransformsRemapper"
                 class="vtkTemporalTransformsRemapper"
                 label="Temporal Transforms Remapper">

      <InputProperty
         name="Reference"
         port_index="0"
         command="SetInputConnection">
        <DataTypeDomain name="input_type">
          <DataType value="vtkPolyData"/>
        </DataTypeDomain>
        <Documentation>
          Set the reference Temporal Transform
        </Documentation>
      </InputProperty>

    <InputProperty
       name="ToAlign"
       port_index="1"
       command="SetInputConnection">
      <DataTypeDomain name="input_type">
        <DataType value="vtkPolyData"/>
      </DataTypeDomain>
      <Documentation>
        Set the input poly data
      </Documentation>
    </InputProperty>

   </SourceProxy>
  </ProxyGroup>
</ServerManagerConfiguration>
